
/* THEME COLORS ===========

Blue (Primary)			#0088a9
Purple							#611e58
Green								#a1ba2f
Red									#9d223e
Orange							#faa61a
Yellow							#e0e31c
Dark Gray						#6d6f71
Light Gray					#bbbbbb
Dark Blue						#024c7a

Link Color					#781e77

======================== */


/* PAGE ELEMENTS
==================================================================================================== */

html {

}

body {
	font-family: 'Roboto', Arial, sans-serif;
	color: #555;
	background: #bbb;
	font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


/* TYPOGRAPHY
==================================================================================================== */

h1 {

}

h2 {
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 1.8125em;
	color: #611e58;
	text-transform: uppercase;
	font-weight: 500;
	margin: 32px 0px 8px 0px;
}

#content .eleven h2 {
	padding: 0px;
	margin: 32px 0px 8px 0px;
}

h3 {
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 1.375em;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	margin: 16px 0px 8px 0px;
}

#content .eleven h3 {
	padding: 0px;
	margin: 16px 0px 8px 0px;
}

h4 {
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 1.125em;
	color: #611e58;
	font-weight: 500;
	padding: 3px 0px;
	margin: 6px 0px 0px 0px;
	cursor: pointer;
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

h4.open {
	padding: 10px;
	background: #611e58;
	color: #fff;
}

a, a:visited {
	color: #781e77;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	text-decoration:underline;
}

#content p {
	margin: 0px 0px 16px 0px;
	line-height: 1.6;
}

#content p.disclaimer {
	font-size: .875em;
	font-style: italic;
}

#content ul {
	margin: 10px 0px 25px 0px;
	padding: 0px;
	list-style-type: none;
	line-height: 1.6;
}

#content ul li {
	background: url(img/list-icon.png) 0px 7px no-repeat;
    padding: 0px 0px 2px 20px;
}

#content ul li ul {
	margin: 10px 0px 0px 0px;
}

#content ol {
	counter-reset: li;
	margin: 10px 0px 25px 0px;
	padding: 0px;
	line-height: 1.6;
}

#content ol > li {
	position: relative;
	margin: 0 0 2px 20px;
	padding-left: 5px;
	list-style: none;
}

#content ol > li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	top: 2px;
	left: -20px;
	width: 20px;
	color: #0088a9;
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-weight: 500;
	font-size: .9375em;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#content blockquote {
	background: url(img/blockquote-bg.png) 0px 0px no-repeat;
	padding: 0px 0px 0px 110px;
	margin: 10px 0px 25px 0px;
	font-style: italic;
	min-height: 90px;
}

#content hr {
	clear: left;
	margin: 40px 0px 25px 0px;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid #ccc;
	border-left: 0px;
}

#content .button {
	display: inline-block;
	background: #024c7a;
	padding: 12px 15px;
	color: #fff;
	clear: left;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

#content .button:hover {
	background: #611e58;
	text-decoration: none;
}

#content iframe {
    width: 100% !important;
}

::selection {
	background: #0088a9;
	color: #fff;
}

::-moz-selection {
	background: #0088a9;
	color: #fff;
}


/* TYPOGRAPHY (SMALL DESKTOP)
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1159px) {



}


/* TYPOGRAPHY (TABLET)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {



}


/* TYPOGRAPHY (MOBILE)
================================================== */

@media only screen and (max-width: 767px) {

#content blockquote {
	background: url(img/blockquote-bg.png) top left no-repeat;
	padding: 110px 0px 0px 0px;
}

}




/* HEADER / NAV ELEMENTS
==================================================================================================== */

#header-wrap {
	background: #000;
}

#logo {
	display: block;
	margin: 18px 0px;
}

#logo img {
	max-width: 100%;
	height: auto;
	vertical-align: top;

}

.top-links {
	float: right;
	padding: 30px 0px 20px 0px;
}

.social {
	display: inline;
}

.social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #a1ba2f;
	margin: 0px 3px 0px 0px;
	border-radius: 20px;
	opacity: 1.0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.social a:hover {
	opacity: 0.8;
}

.social a img {
	vertical-align: middle;
	min-width: 100%;
	max-width: 100%;
}

.register {
	display: inline;
	padding: 0px 0px 0px 10px;
}

.register a {
	display: inline-block;
	background: #faa61a;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	padding: 7px 15px;
	transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -webkit-transition: background .3s ease-out;
}

.register .textwidget {
	display: inline-block;
}

.register a:hover {
	background: #f9bc18;
	text-decoration: none;
}

.top-search {
	float: right;
	clear: right;
}

.top-search .signup {
	float: right;
	padding: 0px 15px 0px 0px;
	border-right: 1px solid #aaa;
	line-height: 1;
}

.top-search .signup a {
	display: inline;
	font-weight: 700;
	color: #fff;
	font-size: .9375em;
	text-transform: uppercase;
	transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
}

.top-search .signup a:hover {
	color: #e0e31c;
	text-decoration: none;
}

.top-search .signup a.contact {
	margin-left: 15px;
	color: #e0e31c;
}

.top-search .signup a.contact:hover {
	color: #fff;
}

.top-search .searchbar {
	float: right;
	padding: 0px 0px 0px 15px;
	line-height: 1;
}

.top-search .searchbar input[type="text"] {
	background: #000;
	font-size: .9375em;
	color: #fff;
	border: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	text-transform: uppercase;
	width: 75px;
}

.top-search .searchbar input::placeholder {
	color: #666;
}

.top-search .searchbar input[type="submit"] {
	position: absolute;
	left: -9999px;
}

.top-search .searchbar input[type="submit"].test {
	float: right;
	position: relative;
	left: auto;
	width: 20px;
	height: 20px;
	background: url(img/search-icon.png) center no-repeat;
	background-size: 16px 16px;
	text-indent: 999px;
	overflow: hidden;
}

.top-search .searchbar img {
	max-width: 16px;
	vertical-align: middle;
}

.header-date {
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 1.0625em;
	font-weight: 700;
	text-transform: uppercase;
	color: #bbb;
	padding: 11px 0px 0px 0px;
}

#nav-wrap {
	background: #000;
	border-bottom: 10px solid #000;
}

.primary-nav {
	float: right;
}

.mobile-nav-button {
	display: block;
	float: left;
	width: 44px;
	height: 44px;
	background: url(img/mobilenav-bg.png);
	text-indent: -9999px;
}

.mobile-search-button {
	display: block;
	float: right;
	width: 44px;
	height: 44px;
	background: url(img/mobilesearch-bg.png);
	text-indent: -9999px;
}

#mobile-header-wrap {
	display: none;
}

#mobile-search-wrap {
	padding: 15px 0px;
	display: none;
}

#mobile-search-wrap input[type="text"] {
	width: 70%;
	display: inline-block;
}

#mobile-search-wrap #searchform {
	width: 100%;
	text-align: center;
}


/* HEADER / NAV ELEMENTS (SMALL DESKTOP)
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1159px) {

.top-links {
	padding-top: 20px;
}

.header-date {
	font-size: .875em;
	padding-top: 12px;
}

.nav li a, .nav li a:visited  {
	font-size: .875em;
	padding: 15px 8px;
}

.nav li:hover ul, .nav li.sfHover ul {
	top: 44px;
}

.nav li ul {
	width: 250px;
}

.nav li ul li a, .nav li ul li a:visited {
	font-size: .875em;
}

}


/* HEADER / NAV ELEMENTS (TABLET)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {

.top-links {
	padding-top: 15px;
	padding-bottom: 15px;
}

.social a {
	width: 30px;
	height: 30px;
}

.register a {
	padding: 5px 15px;
	font-size: .9375em;
}

.header-date {
	font-size: .75em;
	padding-top: 6px;
}

.nav li a, .nav li a:visited  {
	font-size: .75em;
	padding: 8px 4px;
}

.nav li:hover ul, .nav li.sfHover ul {
	top: 28px;
}

.nav li ul {
	width: 220px;
}

.nav li ul li a, .nav li ul li a:visited {
	font-size: .75em;
}

}


/* HEADER / NAV ELEMENTS (MOBILE)
================================================== */

@media only screen and (max-width: 767px) {

.top-links {
	width: 100%;
	padding: 5px 0px 0px 0px;
}

.social {
	display: none;
}

.register {
	padding: 0px 5px 0px 0px;
}

.register a {
	display: block;
	text-align: center;
}

.register .textwidget {
	display: block;
}

.top-search {
	display: none;
}

.top-search .searchbar {
	display: none;
}

.top-search .signup {
	display: none;
}

.header-date {
	font-size: .9375em;
	text-align: center;
	padding: 8px 0px;
}

.header-date span {
	display: none;
}

.primary-nav {
	display: none;
}

#mobile-header-wrap {
	display: block;
}

}


/* HEADER / NAV ELEMENTS (LANDSCAPE MOBILE)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {

#logo {
	width: 100%;
	text-align: center;
    padding: 3%;

}

#logo img {
    max-width: 100%;
}

}




/* FOOTER ELEMENTS
==================================================================================================== */

#footer-wrap {
	background: #000;
	padding: 30px 0px;
	text-align: center;
}

#footer h3 {
	display: block;
	text-align: center;
	color: #fff;
	padding: 0px 0px 20px 0px;
}

#footer img {
	min-width: 100%;
	max-width: 100%;
}



/* FOOTER ELEMENTS (MOBILE)
================================================== */

@media only screen and (max-width: 767px) {



}




/* HOMEPAGE ELEMENTS
==================================================================================================== */


#full-width-slider {
	width: 100%;
	background: #000;
}

#full-width-slider .infoBlock {
	width: 100%;
}

#full-width-slider .photo-box {
	width: 60%;
	position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

#full-width-slider .text-box {
	width: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* Slider Alignment */

#full-width-slider .photo-box.right,
#full-width-slider .text-box.right {
    right: 0;
    text-align: left;
}

#full-width-slider .photo-box.left,
#full-width-slider .text-box.left {
    left: 0;
    text-align: right;
}

#full-width-slider .text-box img {
	min-height: 100%;
	max-height: 100%;
}

#full-width-slider .text-box.right img {
    margin-left: 33%;
}

#full-width-slider .text-box.left img {
    margin-right: 33%;
}

/* Slider Backgrounds */

#full-width-slider .text-box.right.blue{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #0088a9 24.1%);
}
#full-width-slider .text-box.left.blue{
    background: linear-gradient(120deg, #0088a9 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.dblue{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #024c7a 24.1%);
}
#full-width-slider .text-box.left.dblue{
    background: linear-gradient(120deg, #024c7a 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.purple{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #611e58 24.1%);
}
#full-width-slider .text-box.left.purple{
    background: linear-gradient(120deg, #611e58 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.green{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #a1ba2f 24.1%);
}
#full-width-slider .text-box.left.green{
    background: linear-gradient(120deg, #a1ba2f 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.red{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #9d223e 24.1%);
}
#full-width-slider .text-box.left.red{
    background: linear-gradient(120deg, #9d223e 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.orange{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #faa61a 24.1%);
}
#full-width-slider .text-box.left.orange{
    background: linear-gradient(120deg, #faa61a 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.yellow{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #e0e31c 24.1%);
}
#full-width-slider .text-box.left.yellow{
    background: linear-gradient(120deg, #e0e31c 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.gray{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #bbbbbb 24.1%);
}
#full-width-slider .text-box.left.gray{
    background: linear-gradient(120deg, #bbbbbb 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.black{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, black 24.1%);
}
#full-width-slider .text-box.left.black{
    background: linear-gradient(120deg, black 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .text-box.right.blue{
    background: linear-gradient(120deg, rgba(255,255,255,0) 24%, #0088a9 24.1%);
}
#full-width-slider .text-box.left.blue{
    background: linear-gradient(120deg, #0088a9 74%, rgba(255,255,255,0) 74.1%);
}

#full-width-slider .caption-wrap {
	width: 100%;
	position: relative
}

#full-width-slider .caption-wrap .caption {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 50px;
	padding: 8px 0px;
	color: #fff;
	background: #000;
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	text-transform: uppercase;
}

.caption-wrap .text {
	float: left;
	padding: 0px 0px 0px 20px;
}

.caption-wrap .link {
	float: left;
	padding: 0px 0px 0px 20px;
}

.caption-wrap a {
	color: #e0e31c;
	transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
}

.caption-wrap a:hover {
	text-decoration: none;
	color: #bbbbbb;
}

@media screen and (min-width:1200px) and (min-height: 0px) {

    .heroSlider .rsOverflow,
    .royalSlider.heroSlider,
    .royalSlider .infoBlock {
        height: 30vw !important;
    }

}

@media screen and (min-width:1200px) and (min-height:1000px) {

    .heroSlider .rsOverflow,
    .royalSlider.heroSlider,
    .royalSlider .infoBlock {
        height: 30vw !important;
    }
}

@media screen and (min-width:960px) and (max-width: 1199px) {

    .heroSlider .rsOverflow,
    .royalSlider.heroSlider,
    .royalSlider .infoBlock {
    	height: 30vw !important;
    }

}


@media screen and (min-width: 768px) and (max-width: 959px) {

    .royalSlider.heroSlider,
    .royalSlider.heroSlider .rsOverflow,
    .royalSlider .infoBlock {
    	height: 30vw !important;
    }

}

@media screen and (min-width: 0px) and (max-width: 767px) {

    .royalSlider.heroSlider,
    .royalSlider.heroSlider .rsOverflow,
    .royalSlider .infoBlock {
    	height: 30vw !important;
    }

}

#counter-wrap {
	border-top: 10px solid #000;
	background: #faa61a;
	color: #fff;
	padding: 15px 0px 10px 0px;
}

.home-counter {
	text-align: center;
}

.home-counter h2 {
	display: none;
}

.home-counter h3 {
	display: inline;
	vertical-align: top;
	padding: 5px 20px 0px 0px;
	margin: 0px;
	color: #fff;
}

.home-counter .hasCountdown {
	margin: 0px;
	padding: 0px;
	width: auto;
	display: inline-block;
}

.home-counter .countdown_section {
	width: 75px;
	padding: 0px;
	margin: 0px;
	background: none;
	font-size: 11px;
}

.home-counter .countdown_amount {
	font-size: 32px;
}

.home h1 {
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 1.5em;
	color: #611e58;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 0px 15px 0px;
}

.home-hero h2 {
	margin: 16px 0 8px;
}

.home-hero, .home-feature {
	padding: 0px 0px 20px 0px;
}

.home-hero img, .home-feature img {
	min-width: 100%;
	max-width: 100%;
	vertical-align: top;
}

.home .image-link {
	transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
}

.home .image-link:hover {
	opacity: 0.8;
}

.home .more {
	font-weight: 500;
	text-transform: uppercase;
	transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
}

.home .more:hover {
	text-decoration: none;
	color: #faa61a;
}

.home-feature .feature-block {
	position: relative;
	width: 100%;
	background: #0088a9;
	min-height: 120px;
	margin: 0px 0px 15px 0px;
}

.home-feature .feature-block h3 {
	position: absolute;
	left: 0px;
	bottom: 10px;
	padding: 0px 15px;
	color: #fff;
	font-weight: 500;
	line-height: 1.2;
}

.home-feature .blue {
	background: #0088a9;
}

.home-feature .dblue {
	background: #024c7a;
}

.home-feature .purple {
	background: #611e58;
}

.home-feature .green {
	background: #a1ba2f;
}

.home-feature .red {
	background: #9d223e;
}

.home-feature .orange {
	background: #faa61a;
}

.home-feature .yellow {
	background: #e0e31c;
}

.home-feature .gray {
	background: #6d6f71;
}


/* HOMEPAGE ELEMENTS (SMALL DESKTOP)
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1159px) {

#full-width-slider .caption-wrap .caption {
	font-size: 1.5em;
}

}


/* HOMEPAGE ELEMENTS (TABLET)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {

#full-width-slider .caption-wrap .caption {
	bottom: 0px;
	font-size: 1.5em;
}

}


/* HOMEPAGE ELEMENTS (MOBILE)
================================================== */

@media only screen and (max-width: 767px) {

#full-width-slider .caption-wrap .caption {
	bottom: 0px;
	font-size: 1em;
	padding: 6px 0px;
}

#full-width-slider .caption-wrap .caption .text {
	display: none;
}

#full-width-slider .caption-wrap .caption .link {
	padding: 0px;
}

.home-counter h3 {
	display: block;
	padding: 0px 0px 5px 0px;
}

.rsMinW .rsArrowRight {
	bottom: 2px;
	right: 4px;
}

.rsMinW .rsArrowLeft {
	bottom: 2px;
	right:32px;
}

.rsMinW .rsBullets {
	bottom: 10px;
	right: 70px;
}

#full-width-slider .left-image {
    width: 47%;

}

#full-width-slider .right-image {
	float: left;
}

}


/* HOMEPAGE ELEMENTS (LANDSCAPE MOBILE)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {


}




/* CONTENT ELEMENTS
==================================================================================================== */

#title-wrap {
	min-height: 150px;
	background: #024c7a url(img/title-bg.png) right center no-repeat;
}

#title-wrap.blue {
	background: #0088a9 url(img/title-bg.png) right center no-repeat;
}

#title-wrap.dblue {
	background: #024c7a url(img/title-bg.png) right center no-repeat;
}

#title-wrap.purple {
	background: #611e58 url(img/title-bg.png) right center no-repeat;
}

#title-wrap.green {
	background: #a1ba2f url(img/title-bg.png) right center no-repeat;
}

#title-wrap.red {
	background: #9d223e url(img/title-dark-bg.png) right center no-repeat;
}

#title-wrap.orange {
	background: #faa61a url(img/title-bg.png) right center no-repeat;
}

#title-wrap.yellow {
	background: #e0e31c url(img/title-bg.png) right center no-repeat;
}

#title-wrap.gray {
	background: #6d6f71 url(img/title-bg.png) right center no-repeat;
}

#title {
	min-height: 160px;
}

.relative {
	position: relative;
	min-height: 160px;
}

#title h1 {
	position: absolute;
	bottom: 20px;
	left: 0px;
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 3em;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	text-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
	-moz-text-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
	-webkit-text-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
}

#tabs-wrap {
	background: #bbb;
	padding-top: 20px;
}

#tabs ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#tabs ul li {
	display: inline-block;
}

#tabs ul li a {
	display: block;
	background: #ddd;
	color: #555;
	padding: 10px 15px;
	font-size: 1.0625em;
	margin: 0px 5px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

#tabs ul li a.active {
	background: #fff;
}

#tabs ul li a:hover {
	background: #fff;
	text-decoration: none;
}

#content-wrap {
	padding: 30px 0px 60px 0px;
	background: #fff;
	min-height: 400px;
}

#content {
	line-height: 1.4;
}

.header-img {
	margin: 0px 0px 20px 0px;
}

.header-img img {
	max-width: 100%;
	min-width: 100%;
	vertical-align: top;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 0px 0px 20px 0px;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.snippets-wrap {
	padding: 15px 0px 0px 0px;
}

.snippet {
	padding: 0px 0px 20px 0px;
}

.snippet-img {
	width: 25%;
	float: left;
}

.snippet-img .pad {
	padding-right: 20px;
}

.snippet-img img {
	max-width: 100%;
	min-width: 100%;
}

.snippet-content {
	width: 75%;
	float: left;
}

.snippet .full-width {
	width: 100%;
}

.snippet h3 {
	margin-top: 5px;
}

.sidebar-wrap {
	padding: 0px 0px 0px 20px;
}

.sidebar-content {
    padding: 10px 0px 0px 0px;
}

.sidebar-content iframe {
    width: 100% !important;
}

.sidebar {
	background: #000;
	color: #fff;
	padding: 0px 0px 20px 0px;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
}

.sidebar h1 {
	display: block;
	padding: 25px 20px 20px 20px;
	margin: 0px 0px 25px 0px;
	background: #024c7a;
	font-family: 'CooperHewitt', Arial, sans-serif;
	font-size: 1.3125em;
	line-height: 1.2;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}

.sidebar h2 {
	font-size: 1.25em;
	margin: 0px;
	padding: 0px 20px;
	color: #0088a9;
}

#content .sidebar p {
	margin: 0px 0px 20px 0px;
	padding: 0px 20px;
}

#content .sidebar ul {
	margin: 0px 0px 20px 0px;
	padding: 0px 20px;
}

#content .sidebar ul li {
	background: none;
	padding: 0px;
	margin: 0px;
}

#content .sidebar ul li ul li {
	list-style: disc;
	list-style-position: outside;
}

.sidebar a, .sidebar a:visited {
	display: block;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 8px 15px;
	margin: 5px 0px 0px 0px;
	background: #6d6f71;
	font-weight: 500;
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.sidebar a:hover {
	background: #0088a9;
	text-decoration: none;
}

.sidebar a.highlight, .sidebar a.highlight:visited {
	background: #faa61a;
}

.sidebar a.highlight:hover {
	background: #0088a9;
	text-decoration: none;
}

.sidebar-wrap .race h1 {
	padding-right: 50%;
}

.sidebar-wrap .race h1 {
	background: transparent;
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
}

.sidebar-wrap .blue .color-wrap {
	background: #0088a9;
}

.sidebar-wrap .dblue .color-wrap {
	background: #024c7a;
}

.sidebar-wrap .purple .color-wrap {
	background: #611e58;
}

.sidebar-wrap .green .color-wrap {
	background: #a1ba2f;
}

.sidebar-wrap .red .color-wrap {
	background: #9d223e;
}

.sidebar-wrap .orange .color-wrap{
	background: #faa61a;
}

.sidebar-wrap .yellow .color-wrap {
	background: #e0e31c;
}

.sidebar-wrap .gray .color-wrap {
	background: #6d6f71;
}

.sidebar-wrap .blue h2 {
	color: #0088a9;
}

.sidebar-wrap .dblue h2 {
	color: #0088a9;
}

.sidebar-wrap .purple h2 {
	color: #934b92;
}

.sidebar-wrap .green h2 {
	color: #a1ba2f;
}

.sidebar-wrap .red h2 {
	color: #9d223e;
}

.sidebar-wrap .orange h2 {
	color: #faa61a;
}

.sidebar-wrap .yellow h2 {
	color: #e0e31c;
}

.sidebar-wrap .gray h2 {
	color: #6d6f71;
}

.sidebar-image {
	padding: 15px 0px 0px 0px;
	text-align: center;
	transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
}

.sidebar-image a {
	display: block;
	background: #aaa;
	color: #fff;
	transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -webkit-transition: background .3s ease-out;
}

.sidebar-image a:hover {
	background: #0088a9;
	text-decoration: none;
	color: #fff;
}

.sidebar-image a.standard {
	background: none;
}

.sidebar-image a.standard:hover {
	background: none;
}

.sidebar-image a:hover img {
	opacity: 0.8;
}

.sidebar-image img {
	max-width: 100%;
	vertical-align: top;
	transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
}

.sidebar-race-image img {
	min-width: 100%;
	max-width: 100%;
}

#content .sidebar-image p {
	padding: 10px;
	font-weight: 500;
	margin: 0px;
}

.training-tip-entry {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid #aaa;
}

.training-tip-entry h2 {
	margin-top: 0px;
}

.training-tip-entry .logo-wrap {
	width: 20%;
}

.pricing {
	width: 100%;
}

.pricing td {
	padding: 4px;
}

#content .news h2 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	text-transform: none;
	font-weight: 500;
	font-size: 1.5em;
}

#content .news h2 a {
	font-weight: 500;
}

.news {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
	border-bottom: 1px solid #eee;
}

#content .news .date {
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	font-size: .875em;
}

.news .logo-wrap {
	width: 20%;
}

.pagination {
	padding: 30px 0px 0px 0px;
}

.pagination .nav-previous {
	float: left;
}

.pagination .nav-next {
	float: right;
}

.logo-wrap {
	float: left;
	width: 30%;
	margin: 0px 20px 20px 0px;
}

.charity-logo-wrap {
	float: left;
	width: 18%;
	margin: 0px 20px 20px 0px;
}

.logo-wrap img, .charity-logo-wrap img {
	min-width: 100%;
	max-width: 100%;
}

.race-list {
	margin: 0px 0px 20px 0px;
}

.race-list a {
	display: block;
}

.race-list a:hover {
	text-decoration: none;
}

.race-list a img {
	min-width: 100%;
	max-width: 100%;
	transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
}

.race-list a:hover img {
	opacity: 0.8;
}

.race-list .color-wrap {
	padding: 15px;
	min-height: 65px;
}

.race-list .color-wrap h3 {
	margin: 0px;
	padding: 0px;
	line-height; 1.2;
	color: #fff;
}

.race-list-wrap .blue {
	background: #0088a9;
}

.race-list-wrap .dblue {
	background: #024c7a;
}

.race-list-wrap .purple {
	background: #611e58;
}

.race-list-wrap .green {
	background: #a1ba2f;
}

.race-list-wrap .red {
	background: #9d223e;
}

.race-list-wrap .orange {
	background: #faa61a;
}

.race-list-wrap .yellow {
	background: #e0e31c;
}

.race-list-wrap .gray {
	background: #6d6f71;
}

.registration {
	background: #eee;
}

.registration .content {
	padding: 20px;
}

.registration h2 {
	margin: 0px 0px 10px 0px;
}

.registration img {
	min-width: 100%;
	max-width: 100%;
}

.registration img.half {
	min-width: 50%;
	max-width: 50%;
	float: left;
	margin: 0px 10px 10px 0px;
}

#content .registration .button {
	display: block;
	text-align: center;
	background: #faa61a;
}

#content .registration .button:hover {
	background: #0088a9;
}

.pricing-wrap {
	padding: 0px;
	border-bottom: 1px solid #aaa;
	margin: 0px 0px 30px 0px;
}

.price {
	float: left;
	width: 16%;
	margin: 0px 0px 20px 0px;
}

.price .price-pad {
	padding: 0px 1px 0px 0px;
}

.price .heading {
	min-height: 80px;
	position: relative;
}

.price .heading h3 {
	position: absolute;
	display: block;
	left: 0px;
	bottom: 0px;
	padding: 10px 10px 10px 10px;
	color: #fff;
	margin: 0px;
	font-size: 1.25em;
}

.pricing-wrap .blue .heading {
	background: #0088a9;
}

.pricing-wrap .dblue .heading {
	background: #024c7a;
}

.pricing-wrap .purple .heading {
	background: #611e58;
}

.pricing-wrap .green .heading {
	background: #a1ba2f;
}

.pricing-wrap .red .heading {
	background: #9d223e;
}

.pricing-wrap .orange .heading {
	background: #faa61a;
}

.pricing-wrap .yellow .heading {
	background: #e0e31c;
}

.pricing-wrap .gray .heading {
	background: #6d6f71;
}

.price .content h3 {
	display: block;
	font-size: .875em;
	text-transform: uppercase;
	background: #333;
	color: #fff;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	line-height: 1.1;
}

.price .content h4 {
	font-size: .875em;
	color: #888;
	margin: 0px;
	padding: 0px;
}

#content .price .content p {
	font-size: 1em;
	font-weight: 700;
	display: block;
	min-height: 50px;
	line-height: 1.3;
}

.price-sidebar {
	float: right;
	width: 33%;
	margin: 0px 0px 20px 40px;
}

.pricing-wrap .blue {
	color: #0088a9;
}

.pricing-wrap .dblue {
	color: #024c7a;
}

.pricing-wrap .purple {
	color: #611e58;
}

.pricing-wrap .green {
	color: #a1ba2f;
}

.pricing-wrap .red {
	color: #9d223e;
}

.pricing-wrap .orange {
	color: #faa61a;
}

.pricing-wrap .yellow {
	color: #e0e31c;
}

.pricing-wrap .gray {
	color: #6d6f71;
}

.wpmf-gallerys .flexslider.wpmfflexslider {
	background: #aaa;
}

#content .wpmf-gallerys ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#content .wpmf-gallerys ul li {
	background: none;
	padding: 0px;
	margin: 0px;
}

#content .wpmf-gallerys ol.flex-control-paging {
	display: none !important;
}

#content .wpmf-front-box.top {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	border-bottom: none;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding: 12px 0px;
}

#content .wpmf-front-box.top a .title {
	display: none !important;
}

#content .wpmf-front-box.top a .caption {
	font-size: 16px;
	font-weight: 500;
	float: none;
	left: auto;
	right: auto;
	bottom: auto;
	padding: 0px 15px;
}

#content .gallery-item:hover > .wpmf-front-box.top {
	bottom: 0;
}

.categories-wrap, .categories-wrap-full {
	padding: 0px 0px 20px 0px;
}

#content .categories-wrap ul, #content .categories-wrap-full ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#content .categories-wrap ul li, #content .categories-wrap-full ul li {
	background: none;
	margin: 0px 8px 8px 0px;
	padding: 0px;
	display: inline-block;
}

.categories-wrap ul li a, .categories-wrap-full ul li a {
	display: block;
	background: #aaa;
	padding: 6px 10px;
	color: #fff;
	font-size: .875em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.categories-wrap ul li a.active, .categories-wrap-full ul li a.active {
	background: #024c7a;
}

.categories-wrap ul li a:hover, .categories-wrap-full ul li a:hover {
	text-decoration: none;
}

.charities-wrap ul li {
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

#content ul.listCol1, #content ul.listCol2, #content ul.listCol3 {
	float: left;
	width: 30%;
	margin-right: 3%;
	font-size: .9375em;
}

.charities-wrap, .listContainer1, .listContainer2 {
	width: 100%;
}

.image-downloads-wrap {
	padding: 15px 0px 0px 0px;
}

.image-download {
	float: left;
	width: 33%;
	margin: 0px 0px 20px 0px;
	text-align: center;
}

.image-download .pad {
	padding: 0px 15px;
	text-align: center;
}

.image-download a {
	display: block;
	height: 180px;
}

.image-download img {
	max-width: 100%;
	max-height: 180px;
	vertical-align: middle;
}

#content img.half {
	max-width: 50%;
}

#content img.alignleft {
	float: left;
	clear: left;
	margin: 0px 15px 15px 0px;
}

#content img.full-width {
	float: none !important;
	clear: both !important;
	max-width: 100%;
	height: auto;
	margin: 10px 0px 0px;
}

.accordion-content {
	display: none;
	padding: 10px;
	background: #eee;
}

.full-list {
	padding-top: 20px;
}

.charity-partner {
	border-bottom: 1px solid #eee;
	padding: 0px 0px 30px 0px;
	margin: 0px 0px 30px 0px;
}

.charity-partner .logo {
	width: 15%;
	margin-right: 3%;
	float: left;
}

.charity-partner .logo img {
	min-width: 100%;
	max-width: 100%;
	vertical-align: top;
}

.charity-partner .description {
	width: 82%;
	float: right;
}

.charity-partner .description h3 {
	margin-top: 0px;
}

.signup-wrap {
	padding: 15px 0px;
}

#content .ctct-custom-form {
	padding: 0px;
}

#content .ctct-custom-form .ctct-button {
	background: #faa61a;
}

#content .ctct-custom-form .ctct-button:hover {
	background: #0088a9;
}

#content .wpmf-gallerys {
	overflow: hidden;
}

#content .flexslider .slides.wpmf-slides li.wpmf-gg-one-columns img {
	height: auto !important;
}

img.full {
	max-width: 100%;
	min-width: 100%;
	height: auto;
}

#content .countdown {
	text-align: center;
	color: #9d223e;
	font-weight: bold;
}

#content .hasCountdown {
	text-align: center;
	padding: 10px 0px 0px 0px;
}

#content .countdown_section {
	background: #9d223e;
	color: #fff;
}

#content .countdown_amount {
	font-size: 48px;
	line-height: 48px;
}


/* CONTENT ELEMENTS (SMALL DESKTOP)
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1159px) {

#title-wrap , #title, .relative {
	min-height: 140px;
}

#title-wrap h1 {
	font-size: 2.5em;
}

.price .heading {
	min-height: 105px;
}

#content .price .content p {
	min-height: 65px;
}

}


/* CONTENT ELEMENTS (TABLET)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {

#title-wrap , #title, .relative {
	min-height: 110px;
}

#title-wrap h1 {
	font-size: 2em;
}

.price {
	width: 33%;
}

.price .heading {
	min-height: 80px;
}

.image-download a {
	height: 150px;
}

.image-download img {
	max-height: 150px;
}

.charity-partner .logo {
	width: 20%;
	margin-right: 4%;
}

.charity-partner .description {
	width: 76%;
}

}


/* CONTENT ELEMENTS (MOBILE)
================================================== */

@media only screen and (max-width: 767px) {

#title-wrap , #title, .relative {
	min-height: 120px;
}

#title-wrap h1 {
	font-size: 2em;
}

.snippet-img {
	display: none;
}

.snippet-content {
	width: 100%;
}

.sidebar-wrap {
	padding: 20px 0px 0px 0px;
}

.registration {
	margin: 0px 0px 20px 0px;
}

.price {
	width: 100%;
}

.price .price-pad {
	padding: 0px;
}

.price .heading {
	min-height: 50px;
}

#content .price .content p {
	display: auto;
	min-height: 0px;
}

.price-sidebar {
	float: left;
	width: 100%;
	margin: 0px 0px 30px 0px;
}

#content ul.listCol1, #content ul.listCol2, #content ul.listCol3 {
	width: 100%;
	margin: 0;
}

.image-download {
	width: 100%;
}

.image-download a {
	height: auto;
	max-height: 300px;
}

.image-download img {
	max-height: 300px;
}

#content img.half {
	max-width: 100%;
}

.charity-partner .logo {
	display: none;
}

.charity-partner .description {
	width: 100%;
}

#content .countdown_amount {
	font-size: 40px;
	line-height: 40px;
}

}


/* CONTENT ELEMENTS (LANDSCAPE MOBILE)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {



}




/* FORM ELEMENTS
==================================================================================================== */

input, textarea {

}

.login-username label, .login-password label {
	width: 100px;
	display: inline-block;
}

input[type="text"], textarea, input[type="file"], input[type="password"], input[type="number"], input[type="email"] {
	border: 1px solid #ccc;
	padding: 6px;
	font-size: 1em;
	color: #555;
	width: 280px;
	font-family: Arial, sans-serif;
	background: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.ie9 input[type="text"] {
	line-height:normal;
}

input[type="text"]:focus, textarea:focus, input[type="file"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus {
	border: 1px solid #0088a9;
}

textarea { width:100%; height:10em; }

input[type="submit"], input[type="button"] {
	background: #faa61a;
	color: #fff;
	padding: 6px 15px;
	border: 0px;
	font-size: 1em;
	font-family: Arial, sans-serif;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

input[type="submit"]:active, input[type="button"]:active {

}
